{% load static %}

<link rel ="stylesheet"href="{%static 'styles5.css'%}">

<!DOCTYPE html>
<html>
<head>
<style>

#encabezado {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}


.area {
  background-color: yellow;
  color: black;
  padding: 10px;
}
</style>
</head>
<body>

<h2>----------</h2>
<p>Un ejemplo basico de las areas de un supermercado y los alimentos que hay que cada uno de ellos.</p>


<h1 id="encabezado">Supersuper</h1>


<h2 class="area">Carniceria</h2>
<div style="color:black;padding:20px;">
<ul>
  <li>Bisteq</li>
  <li>Carne</li>
  <li>Salchichas</li>
</ul>

<h2 class="area">Frutas y Verduras</h2>
<ul>
  <li>Manzana</li>
  <li>Platano</li>
  <li>Naranja</li>
</ul>

<h2 class="area">Cereales</h2>
  <ul>
    <li>Trix</li>
    <li>Zucaritas</li>
    <li>FrootLoops</li>
  </ul>

</body>
</html>
