{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<link rel ="stylesheet"href="{%static 'styles4.css'%}">
<h2>Lista de Empleados</h2>

<table>
  <tr>
    <th>Empleado</th>
    <th>Contacto</th>
    <th>Nacionalidad</th>
  </tr>
  <tr>
    <td>Alberto Meza</td>
    <td>6643152784</td>
    <td>Americano</td>
  </tr>
  <tr>
    <td>Juanita Perez</td>
    <td>6641234567</td>
    <td>Aleman</td>
  </tr>
  <tr>
    <td>Pepe Torres</td>
    <td>6641547896</td>
    <td>Indio</td>
  </tr>
  <tr>
    <td>Salma Hernandez</td>
    <td>6646546547</td>
    <td>Mexicana</td>
  </tr>
  <tr>
    <td>Esteban Estran</td>
    <td>6642578952</td>
    <td>Canadiense</td>
  </tr>
  <tr>
    <td>Paulina Valenzuela</td>
    <td>6641523478</td>
    <td>Italiana</td>
  </tr>
  <tr>
    <td>Alberto Meza</td>
    <td>6643152784</td>
    <td>Americano</td>
  </tr>
  <tr>
    <td>Juanita Perez</td>
    <td>6641234567</td>
    <td>Aleman</td>
  </tr>
  <tr>
    <td>Pepe Torres</td>
    <td>6641547896</td>
    <td>Indio</td>
  </tr>
  <tr>
    <td>Salma Hernandez</td>
    <td>6646546547</td>
    <td>Mexicana</td>
  </tr>
  <tr>
    <td>Esteban Estran</td>
    <td>6642578952</td>
    <td>Canadiense</td>
  </tr>
  <tr>
    <td>Alberto Meza</td>
    <td>6643152784</td>
    <td>Americano</td>
  </tr>
  <tr>
    <td>Juanita Perez</td>
    <td>6641234567</td>
    <td>Aleman</td>
  </tr>
  <tr>
    <td>Pepe Torres</td>
    <td>6641547896</td>
    <td>Indio</td>
  </tr>
  <tr>
    <td>Salma Hernandez</td>
    <td>6646546547</td>
    <td>Mexicana</td>
  </tr>
  <tr>
    <td>Esteban Estran</td>
    <td>6642578952</td>
    <td>Canadiense</td>
  </tr>
  <tr>
    <td>Alberto Meza</td>
    <td>6643152784</td>
    <td>Americano</td>
  </tr>
  <tr>
    <td>Juanita Perez</td>
    <td>6641234567</td>
    <td>Aleman</td>
  </tr>
  <tr>
    <td>Pepe Torres</td>
    <td>6641547896</td>
    <td>Indio</td>
  </tr>
  <tr>
    <td>Salma Hernandez</td>
    <td>6646546547</td>
    <td>Mexicana</td>
  </tr>
  <tr>
    <td>Esteban Estran</td>
    <td>6642578952</td>
    <td>Canadiense</td>
  </tr>
</table>

</body>
</html>
