{% load static %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}

</head>
<body>
  <nav class = "navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="1/">Seccion 1 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="1/">Seccion 2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="1/">Seccion 3  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="1/">Seccion 4  </a>
              </li>


{% endblock %}
