{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<body>

<div style="background-color:purple;color:white;padding:20px;">
  <h2>Purpura</h2>
  <p>Este es el ejemplo de la utilizacion de bloques en HTML y como se pueden separar
    secciones dentro de un HTML.</p>
  <p>Aqui hay mas texto</p>
</div>

</body>
</html>

<html>
<body>

<div style="background-color:green;color:white;padding:20px;">
  <h2>Verde</h2>
  <p>Este es otro bloque de contenido con distinto color y ver como hay secciones dentro de el.</p>
  <p>Aqui hay mas texto pero con fondo verde</p>
</div>

</body>
</html>

<html>
<body>

<div style="background-color:orange;color:white;padding:20px;">
  <h2>Naranja</h2>
  <p>Un ultimo bloque de color naranja para apreciar bien el concepto de
    esto y como nos ayuda a tener un orden</p>
</div>

</body>
</html>


{% endblock %}
