{% load static %}
{% block content %}
  <h1>Bienvenido</h1>
  <a class="btn btn-primary" href="first">Template 1</a>
    <a class="btn btn-primary" href="second">Template 2</a>
      <a class="btn btn-primary" href="third">Template 3</a>
        <a class="btn btn-primary" href="fourth">Template 4</a>
          <a class="btn btn-primary" href="fifth">Template 5</a>
            <a class="btn btn-primary" href="sixt">Template 6</a>
              <a class="btn btn-primary" href="sevent">Template 7</a>
                <a class="btn btn-primary" href="eigth">Template 8</a>
                  <a class="btn btn-primary" href="nine">Template 9</a>
                    <a class="btn btn-primary" href="ten">Template 10</a>


{% endblock %}
